/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenitore generale */
.container{
  width: 100%;
  height: 100vh;
  padding: 10vh;
}

/* contenitori secondari */
.box{
  width: 100%;
  height: 12.5%;
}

/* quadrati griglia */
.square{
  width: 12.5%;
  height: 100%;
  border: 1px solid black;
  float: left;
}
